<div id='logo'>
  <h1>Hjärups Yoga</h1>
  <h2>Balans och elegans</h2>
</div>
<%= image_tag('wave.jpg') %>
<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu',
             :roots => @menu_pages
           }) %>
