@import url('refinery/application.css');
@import "mixins.scss";

$page-width: 760px;
$body-color-top: #ffe;
$body-color-bottom: #dfa;

$default-radius: .8em;

$header-font: Gill Sans / Gill Sans MT, sans-serif;


body {
  font-family: Century Gothic, sans-serif;
  font-size: 14px;
  line-height: 18px;
  @include background-gradient($body-color-top, $body-color-bottom);
}

#page_container {
  margin: auto;
  border: 2px gray solid;
}

header {
  width: $page-width;
  @include background-gradient(#888, #222);
  color: white;
  @include border-radius($default-radius, $default-radius, 0, 0);
  margin-top: 1.5em;
  #logo {
    @include border-radius($default-radius, $default-radius, 0, 0);
    @include background-gradient(#888, #222);
    padding-top: .7em;
    padding-left: 1em;
    padding-bottom: .7em;
    line-height: .4em;
    font-family: $header-font;
    font-weight: normal;
    h1 {
      font-weight: normal;
    }      
    h2 {
      font-weight: normal;
      padding-left: .5em;
      font-size: 1.1em;
    }
  }
  img {
    width: $page-width;
    height: 14em;
  }
}

#page {
  width: $page-width;
}

#menu ul {
  font-family: $header-font;
  position: relative;
  top: -31px;
  list-style: none;
  padding: 0px;
  z-index: 10;
  color: white;
  margin-left: 10px;
  li {
    float: left;
    margin-right: 10px;
    a, a:visited {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      background: #333;
      color: white;
      @include border-radius($default-radius, $default-radius, 0, 0);
    }
    a:hover {
      background: #111;
    }
    a:active {
      background: #111;
      font-weight: bold;
    }
  }
  li.selected a{
    background: #111;
  }
}


#page {
  @include background-gradient(#666, #333);
  margin-top: -2em;
  #body_content {
    float: left;
    width: 70%;
    color: #222;
    padding: 20px;
    background: white;
    a, a:visited {
      color: #444;
    }
    a:hover, a:active {
      color: #444;
      font-weight: bold;
    }
  }

  #side_body_content {
    float: right;
    height: 100%;
    width: 24%;
    color: white;
    font-size: 90%;
    a, a:visited {
      color: white;
    }
    a:hover, a:active {
      color:white;
      font-weight: bold;
    }

    h3 {
      margin-top: 2.0em;
    }

  }
}

footer {
  width: $page-width - 10px;
  @include background-gradient(#888, #222);
  color: white;
  @include border-radius(0, 0, $default-radius, $default-radius);
  padding: .5em 0;
  margin-bottom: 1em;
  padding-left: 10px;
}

